.wideFrame {
  font-family: Cabin;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .wideFrame {
    padding: 0 0 0 0;
  }
}

.articleFrame {
  flex: 1;
  width: 980px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.09);
}

@media screen and (max-width: 800px) /* Mobile */ {
  .articleFrame {
    flex: 1;
    width: 100%;
  }
}

.title {
  width: 100%;
  background-color: #e5951f;
  display: flex;
  font-size: 20px;
  color: white;
  font-weight: bold;
  position: relative;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.titleText {
  margin-top: 30px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .titleText {
    display: none;
  }
}

.instagramLink {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .instagramLink {
    display: none;
  }
}

.instagramPic {
  height: 45px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .mainBlogLink {
    display: block;
    top: 10px;
    right: 20px;
    font-size: 18px;
  }
}

.body {
  flex: 1;
  background-color: white;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .body {
    padding: 0 0 0 0;
  }
}

.subtitle {
  font-size: 20px;
  display: flex;
  white-space: pre-line;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .subtitle {
    font-size: 18px;
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 20px;
  }
}

.tabs {
  display: flex;
  position: relative;
  height: 39px;
  margin-top: 30px;
}

.tab {
  width: 103px;
  height: 39px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  font-weight: bold;
  line-height: 39px;
  cursor: pointer;
  border-bottom: 2px #e5951f;
  border-bottom-style: solid;
}

.activeTab {
  background-color: #e5951f;
  color: #ffffff;
}

.inactiveTab {
  background-color: #ffffff;
  color: #e5951f;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .reviewsTab {
    display: none;
  }
}

.showCount {
  position: absolute;
  right: 0px;
  bottom: 5px;
  font-weight: bold;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .showCount {
    right: 5px;
  }
}

.filterBox {
  background-color: #e2e2e2;
  padding: 12px;
  position: relative;
}

.filterLabel {
  font-size: 20px;
  position: absolute;
  margin-left: 13px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .filterLabel {
    font-size: 18px;
    margin-left: 0px;
  }
}

.clearFilters {
  height: 29px;
  background-color: white;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .clearFilters {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.clearFiltersImg {
  max-height: 100%;
}

.outerSearchBox {
  position: absolute;
  right: 13px;
}

.dropdowns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 110px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .dropdowns {
    margin-left: 0px;
    margin-top: 40px;
    flex-wrap: wrap;
  }
}

.spinner {
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.tvShowList {
  background-color: #f4f4f4;
}

.collectionList {
  background-color: #f4f4f4;
}

.iframeWrapper {
  width: 100%;
  height: 3000px;
  padding: 0;
  overflow: hidden;
}

.iframe {
  margin-top: -100px;
  margin-left: -31px;
  width: 1250px;
  height: 4000px;
  border: 0px;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}

/* override the caret positioning in bootstrap's dropdowns */
.dropdown-toggle::after {
    right: 11px !important;
    position: absolute !important;
}
