.mainFrame {
  background-color: #f4f4f4;
  padding: 20px;
}

.title {
  background-color: #c72a47;
  display: flex;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 25px;
}

.body {
  background-color: white;
  padding: 20px;
}

.subtitle {
  font-size: 20px;
  display: flex;
}

.filterBox {
  background-color: #e2e2e2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 5px 5px 10px;
  margin-top: 10px;
}

.filterLabel {
  flex: 1;
  margin: 10px;
  max-width: 90px;
  font-size: 20px;
}

.filter {
  flex: 1;
  margin: 10px;
  max-width: 150px;
}

.tvShowList {
  background-color: #f4f4f4;
  padding: 20px;
}

.mainRow {
  display: flex;
}

.thumbnail {
  height: 150px;
  border-style: solid;
  border-color: #e2e2e2;
  border-width: 2px;
}

.mainDetails {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.mainDetail {
  flex: 1;
}

.showTitle {
  font-weight: bold;
}

.hr {
   margin-top: 15px;
   margin-bottom: 15px;
}