.wideFrame {
  font-family: Cabin;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .wideFrame {
    padding: 0 0 0 0;
  }
}

.articleFrame {
  flex: 1;
  width: 980px;
  background-color: white;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .articleFrame {
    flex: 1;
    width: 100%;
  }
}

.title {
  width: 100%;
  background-color: #e5951f;
  display: flex;
  font-size: 20px;
  color: white;
  font-weight: bold;
  position: relative;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.titlePic {
  width: 178px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 31px;
  margin-right: 49px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .titlePic {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.titleText {
  margin-top: 30px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .titleText {
    margin-top: 0px;
    margin-bottom: 15px;
  }
}

.mainBlogLink {
  position: absolute;
  top: 30px;
  right: 30px;
  text-decoration: underline;
  color: white;
}

.mainBlogLink:hover {
  color: #007BFF;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .mainBlogLink {
    display: none;
  }
}

.body {
  flex: 1;
  background-color: white;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .body {
    padding: 0 0 0 0;
  }
}

.subtitle {
  font-size: 20px;
  display: flex;
  white-space: pre-line;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .subtitle {
    font-size: 18px;
    margin-top: 17px;
    margin-left: 10px;
    margin-right: 20px;
  }
}

.countRow {
  position: relative;
  height: 39px;
}

.showCount {
  position: absolute;
  right: 0px;
  bottom: 5px;
  font-weight: bold;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .showCount {
    right: 5px;
  }
}

.filterBox {
  background-color: #e2e2e2;
  padding: 12px;
  position: relative;
}

.filterLabel {
  font-size: 20px;
  position: absolute;
  margin-left: 13px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .filterLabel {
    font-size: 18px;
    margin-left: 0px;
  }
}

.outerSearchBox {
  position: absolute;
  right: 13px;
}

.dropdowns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 110px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .dropdowns {
    margin-left: 0px;
    margin-top: 40px;
    flex-wrap: wrap;
  }
}

.tvShowList {
  background-color: #f4f4f4;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .tvShowList {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
