.collection {
  position: relative;
}

.collection:after {
  content: '';
  width: 95%;
  height: 1px;
  background: rgba(0,0,0,.1);
  position: absolute;
  bottom: -1px;
}

.selectedCollection {
  background-color: #e2e2e2;
  border: solid 2px #6b6b6b;
}

.collectionBody {
  min-height: 305px;
  padding-top: 31px;
  padding-bottom: 31px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .collectionBody {
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.posterMontage {
  height: 243px;
  width: 166px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .posterMontage {
    height: 139px;
    width: 95px;
    position: static;
  }
}

.smallPosterTile {
  width: 53px;
  height: 79px;
  margin: 1px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .smallPosterTile {
    height: 45px;
    width: 30px;
    margin: 0.5px;
  }
}

.largePosterTile {
  width: 81px;
  height: 119px;
  margin: 1px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .largePosterTile {
    height: 69px;
    width: 46px;
    margin: 0.5px;
  }
}

.moreTile {
  position: relative;
  background-color: #1a1a1a;
}

.moreText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .moreText {
    font-size: 11px;
  }
}

.collectionTitle {
  margin-left: 190px;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .collectionTitle {
    position: absolute;
    left: 120px;
    right: 10px;
    top: 17px;
    margin-left: 0px;
  }
}

.collectionDescription {
  margin-left: 190px;
  margin-top: 12px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .collectionDescription {
    margin-left: 0px;
  }
}

.collapseButton {
  width: 164px;
  height: 39px;
  margin-left: 190px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #1a1a1a;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 39px;
  cursor: pointer;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .collapseButton {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.caret {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.upCaret {
  display: inline-block;
  margin-left: 10px;
  vertical-align: 2px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
}

.downCaret {
  display: inline-block;
  margin-left: 10px;
  vertical-align: 2px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}

.collectionShowBox {
  background-color: #f4f4f4;
  padding-left: 30px;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .collectionShowBox {
    padding-left: 0px;
  }
}