.dropdown {
  min-width: 117px;
  height: 29px;
  margin-right: 20px;
  color: #6b6b6b;
}

@media screen and (max-width: 800px) /* Mobile */ {
  .dropdown {
    min-width: 95px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.itemSelected {
  color: black;
}

.dropdown-toggle {
  background-color: white;
  text-align: left;
  line-height: 0px;
  min-width: 117px;
  height: 29px;
  color: inherit;
  padding-right: 25px;  /*  to make room for the caret */
}

@media screen and (max-width: 800px) /* Mobile */ {
  .dropdown-toggle {
    min-width: 95px;
  }
}
