.watchOnBox {
  display: flex;
  flex-wrap: wrap;
}

.watchOnButton {
  display: block;
  height: 39px;
  width: max-content;
  border-radius: 6px;
  border: solid 1px #e2e2e2;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 39px;
  margin-right: 15px;
  margin-bottom: 5px;
  flex-shrink: 0;
}

.watchOnButton:hover {
  border: 2px solid #c2c2c2;
  padding-left: 19px;
  padding-right: 19px;
  line-height: 37px;
  text-decoration: none;
}

.watchOnText {
  font-weight: bold;
  color: #1a1a1a;
}

.watchOnImg {
  margin-left: 7px;
  height: 25px;
}